
<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Personal Journal</title>
  <meta name="description" content="responsive websites">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  

 
   <!-- Google Fonts -->
   <link
   href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:500,700"
   rel="stylesheet"
 />
   <!-- FontAwesome CDN version 5.5 -->
   <link
   rel="stylesheet"
   href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
 />

  <meta name="theme-color" content="#fafafa">
</head>



<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <p class="navbar-brand">PERSONAL JOURNAL</p>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li id="home"><a href="/">HOME</a></li>
        <li id="about"><a href="/about">ABOUT US</a></li>
        <li id="contact"><a href="/contact">CONTACT US</a></li>
      </ul>
  </div>
</nav>
</header>
  <body>
    <div class="container">
      